[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/regex"]
	path = thirdparty/regex
	url = https://github.com/boostorg/regex.git
[submodule "thirdparty/jemalloc"]
	path = thirdparty/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
